<% include ../partials/header.ejs%>
	<% include ../partials/auth_nav.ejs%>


		<div class="row">
			<div class="container bg-info droppable">
				<div class="col-sm-offset-1 col-sm-5 pull-left">
					<h2>My Unsorted Schools</h2>
					<ul class="sortable list schoolList" id="unsortedList">


					</ul>
				</div>
			</div>

			<div class="container bg-info droppable">
				<div class="col-sm-offset-1 col-sm-5 pull-right">
					<h2>My Maybe Schools</h2>
					<ul class="sortable list schoolList" id="maybeList">

					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container bg-info droppable">
				<div class="col-sm-offset-1 col-sm-5 pull-left">
					<h2>My Probably Schools</h2>
					<ul class="sortable list schoolList" id="probablyList">

					</ul>
				</div>
			</div>
			<div class="container bg-info droppable">
				<div class="col-sm-offset-1 col-sm-5 pull-right">
					<h2>My Maybe Schools</h2>
					<ul class="sortable list schoolList" id="maybeList">

					</ul>
				</div>
			</div>
		</div>

		<% include ../partials/footer.ejs%>