<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Skool Site</title>

    <!-- Bootstrap css-->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--     <script src="/js/jQuery.min.js"></script>
 -->    <!-- Include all compiled plugins (below), or include individual files as needed. Right now using jQuery UI, so may not need this. TODO - evaluate if needed.
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" rel="stylesheet">  -->

    <!-- JQuery UI -->
<!--     <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
 -->
    <!--  Custom stylesheet
  -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Custom client-side js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-resource.min.js"></script>
    <script src="/js/ui-bootstrap.min.js"></script>
    <script src="/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/main.js"></script>
</head>


</html>
