<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skool Site</title>

  <!-- Bootstrap css-->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts-->
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  

  <!-- local versions of css and js, comment out if you want -->
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.structure.min.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css">

  <!-- <jquery> -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


    <!-- Include all compiled plugins (below), or include individual files as needed. Right now using jQuery UI, so may not need this. TODO - evaluate if needed.
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" rel="stylesheet">  -->


<!--  Custom stylesheet
--><link href="/sass/style.css" rel="stylesheet">
<!-- Custom client-side js -->
<script src="/js/main.js"></script>
</head>
<body>