<div class="listItem school">
<form class="form-inline">
  <div class="form-group">
    <a href="/users/" class="sr-only" for="exampleInputAmount"><img src="/public/img/deleteSchool.png"></label>
    <div class="input-group">
      
    </div>
  </div>
</form>	
</div>