<div class="listItem school">
<form class="form-inline">
  <div class="form-group">
    <a href="/users/" class="sr-only" for="exampleInputAmount"><img src="/public/img/deleteSchool.png"></label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Transfer cash</button>
</form>	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Link with href
</a>  
</div>