@import "/css/bootstrap/assets/stylesheets/bootstrap";

$light: #fcfdff;

body,
html {
    background: {
        size: cover;
        color: #fcfdff;
    }
    border: 0;
    font: {
        family: "Lora", "Times", serif;
        size: 16px;
    }
    line-height: 1.6;
    margin: 0;
    outline: 0;
    padding: 0;
}

.container {
    font-size: 100%;
}

.navbar {
    background: {
        color: #000;
    }
    color: #fcfdff;
    font: {
        family: "Lora", "Times", serif;
        size: 1.3em;
        weight: bold;
    }
    height: 3em;
}

.navbar-right {
    font-weight: 800;
}

h1 {
    color: #fcfdff;
    font: {
        family: "Tangerine", cursive;
        size: 3.4em;
    }
    text: {
        align: center;
        shadow: 4px 4px 4px #aaa;
    }
}

h2 {
    text-align: center;
    margin-bottom: 3%;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    color: #111111;
    margin-bottom: 2%;
}

p {
    font-size: 1em;
    margin-top: 1%;
    padding: 1% 4%;
    text-align: justify;
    &.titlePage {
        width: 50%;
        color: #eee;
        text-align: center;
    }
}

a {
    color: #c6c6c6;
    &.navbar-brand {
        font-size: 1.6em;
        background-color: rgba(0, 0, 0, 0.9);
        height: inherit;
    }
}

.btn-primary {
    background-color: #a582d3;
    color: #cdecde;
    &:hover {
        background-color: #cdaffa;
        color: #fcfdff;
    }
}

.btn-info {
    background-color: #03a3a3;
    color: #111;
    &:hover {
        background-color: #00eeee;
        color: #fcfdff;
    }
}

.schoolContainer {
    font-size: 12px;
    border: {
        color: rgba(187, 190, 191, 0.82);
        radius: 4px;
        style: solid;
        width: 3px;
    }
    width: 400px;
    min-height: 300px;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 350px;
    }
    &.list1 {
        background-color: rgba(29, 28, 31, 0.7);
        h3 {
            color: #fcfdff;
        }
    }
    &.list2 {
        background-color: rgba(255, 255, 31, 0.7);
        h3 {
            color: #fcfdff;
        }
    }
    &.list3 {
        background-color: rgba(225, 120, 31, 0.7);
        h3 {
            color: #fcfdff;
        }
    }
    &.list4 {
        background-color: rgba(64, 195, 31, 0.7);
        h3 {
            color: #fcfdff;
        }
    }
}

.glyphicon-remove {
    font-size: inherit;
    padding: 0 5px 5px 5px;
    color: #ff0003;
}
