<% include ../partials/header.ejs%>

	<section>

		<button class="btn btn-primary" type="submit" value="Add To My Schools">
			<div class="row">
				<div class="col-xs-12">
					<h2>My Unsorted Schools</h2>
					<ul class="schoolList" id="unsortedList">


					</ul>
				</div>
			</div>
	</section>


	<% include ../partials/footer.ejs%>