<% include ../partials/header.ejs%>

	<section class="bg-info">
		<div class="row">
			<div class="col-xs-12">
				<h2>My Unsorted Schools</h2>
				<ul class="schoolList" id="unsortedList">


				</ul>
			</div>
		</div>
	</section>

	<section class="bg-warning">
		<div class="row">
			<div class="col-xs-12">
				<h2>My Maybe Schools</h2>
				<ul class="schoolList" id="maybeList">


				</ul>
			</div>
		</div>
	</section>

	<section class="bg-danger">
		<div class="row">
			<div class="col-xs-12">
				<h2>My Probably Schools</h2>
				<ul class="schoolList" id="probablyList">


				</ul>
			</div>
		</div>
	</section>

	<section class="bg-success">
		<div class="row">
			<div class="col-xs-12">
				<h2>My Definitely Schools</h2>
				<ul class="schoolList" id="definitelyList">


				</ul>
			</div>
		</div>
	</section>


	<% include ../partials/footer.ejs%>