<% include ../../partials/header.ejs%>
	<% include ../../partials/auth_nav.ejs%>


		<div class="row">

			<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2 center-block">


				<form method="get" action="/schools/search">
					<h4>Search Schools By Name:</h4>
					<input type="text" placeholder="School Name" name="q" class="form-control" id="txtSchoolName">

					<button type="submit" class="btn btn-primary" id="getSchoolResults">Search</button>
				</form>
			</div>


		</div>
		<% include ../../partials/footer.ejs%>