<% include ../partials/header.ejs%>

<% include ../partials/navbar.ejs%>


<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>About Skool Sites</h2>
				<p>This is pretty much a site that does not have a lot of features. You may also have noticed that it does not have a propper about page. That's mostly because this site is in no way useful to anyone for anything other than perhaps serving as a very good example of how not to build a website.</p>
				<p>I've worked very hard on this, unfortunately. So much so that I'd rather not associate my name with this at all. Granted, it's too late for that. Whatever, Github. Maybe someday this site will be something. After all, it's only my first attempt at a website. </p>
				<p>At the moment, it's just a site with bad spelling.</p>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer.ejs%>