<% include ../partials/header.ejs%>

	<% include ../partials/navbar.ejs%>


		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>About Skool Sites</h2>
						<p>This is pretty much a site that does not have a lot of features. You may also have noticed that it does not have a propper about page. That's mostly because this site is not yet useful to anyone for anything other perhaps a good example of how not to build a website.</p>
						<p>But come on! It's my very first website! I might make this better, and if so, it will be a cool site.</p>
						<p>At the moment, it's just a site with bad spelling.</p>
					</div>
				</div>
			</div>
		</div>

		<% include ../partials/footer.ejs%>