<% include ../partials/header.ejs%>


	<div class="row">
		<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2 center-block">
			<% if (locals.messages && locals.messages.info) { %> <span> <%= locals.messages.info %> </span>
				<% } %>
					<h1>Skool Site!!!</h1>
					<h2><small>Yeah, cool tagline, too.</small></h2>
					<h3>Saying something about the purpose of this site. Good times.</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2">
			<h1>Quick Search</h1>
			<div class="input-group">
				<form class="form-horizontal center-block" name="q" role="search" method="get" action="/schools/">
					<input type="text" class="form-control" placeholder="Enter School Name" name="q" id="schoolName">
					<div class="input-group-btn">
						<button class="btn btn-default" id="btn-search" type="submit"><i class="glyphicon glyphicon-search"></i>
						</button>
						<p>Search A School By Name. Please <a href="./signin.ejs">Sign In</a> or <a href="./signup.ejs">Register</a> to search by school size, location, major, or other advanced search features.</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<% include ../partials/footer.ejs%>