<% include ../partials/header.ejs%>
<% include ../partials/navbar.ejs%>
<div class="row">
	<div class="col-xs-12">
		<h1>Skool Site! </h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4>Almost too cool for school.</h4>
		<h4>Except that we stay in school.</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">


		<p class="titlepage">The very cool site that helps you discover and sort out the right schools for YOU.</p>

		<p class="titlepage"><a href="/auth/">Log In</a> or <a href="/auth/register ">Register now</a> to search for colleges and simplify your to-apply list!</p>
	</div>
</div>

<% include ../partials/footer.ejs%>

