<% include ../partials/header.ejs%>



	<div class="row">
		<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2">
			<form class="form-horizontal center-block" role="search">
				<h1>Quick Search</h1>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Enter School Name" name="srch-term" id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default" id="btn-search" type="submit"><i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>

			<h1>Hi!!!</h1>
			<hr>

		</div>
	</div>

	<% include ../partials/footer.ejs%>