<% include ../partials/header.ejs%>
<% include ../partials/authnav.ejs%>
<div class="page-header">
	<h1 class="center-block"><small style="color: #fff">Welcome back <span style="color: #fff" id="username" data-username="username"> OMIT </span></small></h1>
</div>
<div class="content">
	<div class="row">

		<div class="col-sm-12 col-lg-6">
			<div class="schoolContainer list1 bg-info droppable">
				<h2>My Unsorted Schools</h2>

				<ul class="sortable schoolList" id="unsortedList">
					OMIT
					<li class="schoolCard draggable" data-schoolname="OMIT"
					<i class="glyphicon glyphicon-remove"></i>
					OMIT
				</li>
				OMIT

			</ul>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6">
		<div class="schoolContainer list2 bg-info droppable">
			<h2>My Maybe Schools</h2>
			<ul class="sortable  schoolList" id="maybeList">
				OMIT
				<li class="schoolCard draggable">
					<i class="glyphicon glyphicon-remove"></i>

					OMIT
				</li>
				OMIT
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-lg-6">
		<div class="schoolContainer list3 bg-info droppable">
			<h2>My Probably Schools</h2>
			<ul class="sortable  schoolList" id="probablyList">
				OMIT
				<li class="schoolCard draggable">
					<i class="glyphicon glyphicon-remove"></i>

					OMIT
				</li>
				OMIT
			</ul>
		</div>
	</div>
	<div class="col-sm-12 col-lg-6">
		<div class="schoolContainer list4 bg-info droppable">
			<h2>My Definitely Schools</h2>
			<ul class="sortable  schoolList" id="maybeList">
				OMIT
				<li class="schoolCard draggable">
					<i class="glyphicon glyphicon-remove"></i>

					OMIT
				</li>
				OMIT

			</ul>
		</div>
	</div>
</div>

</div>

<% include ../partials/footer.ejs%>