<% include ../partials/header.ejs%>
<% include ../partials/authnav.ejs%>
<div class="page-header">
	<h1 class="center-block"><small style="color: #fff">Welcome back <span style="color: #fff" id="username" data-username="username"><%=username%></span></small>!</h1>
</div>
<div class="content">
	<div class="row">

		<div class="col-xs-12 col-md-6">
			<div class="schoolContainer  bg-info ui-droppable droppable">
				<h2>My Unsorted Schools</h2>

				<ul class="ui-sortable sortable list1 schoolList" id="unsortedList">
					OMIT
					<li class="schoolCard draggable" data-schoolname="">
						<i class="ui-state-error glyphicon glyphicon-remove"></i>
						OMIT
					</li>
					OMIT

				</ul>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div class="schoolContainer bg-info droppable">
				<h2>My Maybe Schools</h2>
				<ul class="sortable list2  schoolList" id="maybeList">
					OMIT
					<li class="schoolCard draggable">
						<i class="glyphicon glyphicon-remove"></i>

						OMIT
					</li>
					OMIT
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="schoolContainer  bg-info droppable">
				<h2>My Probably Schools</h2>
				<ul class="sortable list3 schoolList" id="probablyList">
					OMIT
					<li class="schoolCard draggable">
						<i class="glyphicon glyphicon-remove"></i>

						OMIT
					</li>
					OMIT
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="schoolContainer  bg-info droppable">
				<h2>My Definitely Schools</h2>
				<ul class="sortable list4 schoolList" id="maybeList">
					OMIT
					<li class="schoolCard draggable">
						<i class="glyphicon glyphicon-remove"></i>

						OMIT
					</li>
					OMIT

				</ul>
			</div>
		</div>
	</div>

</div>

<% include ../partials/footer.ejs%>