<% include ../partials/header.ejs%>
<% include ../partials/authnav.ejs%>

<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2 center-block">


	SEARCH
	<a href="/users/show">SHOW?</a>

	<% include ../partials/footer.ejs%>