<% include ../partials/header.ejs%>
<% include ../partials/authnav.ejs%>




<div class="row">

	<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2 center-block">


		<p>SHOW</p>
		<a href="/users/show/345/details">More?</a>

	</div>
</div>



<% include ../partials/footer.ejs%>